body {
  box-sizing: border-box;
  /* height: 100vh; */
  margin: 0;
  padding-block-start: 100px;
  padding-block-end: 100px;
  padding-inline-start: 100px;

  background-color: thistle;
  background-image: url("./grid-thistle.png");
  background-size: 100px;

  /* overflow: hidden; */
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#container {
  position: relative;
  /* border: 20px solid cadetblue; */
  width: 200px;
  /* height: 300px; */

  background-color: seashell;
  background-image: url("./grid-seashell.png");
  background-size: 100px;

  border-image-source: url("./grid-cadetblue.png");
  border-image-slice: 40 40;
  border-image-repeat: round;
}

#container.dragging {
  user-select: none;
}

li {
  position: absolute;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  padding-inline-start: 10px;

  background-color: white;
  background-image: url("./grid-white.png");
  background-size: 100px;

  cursor: grab;
  transition: top 0.3s;
}

li.dragging {
  box-shadow: 0 2px 16px red;
  opacity: 0.9;
  cursor: grabbing;
  transition: unset;
}
